body {
    background: url(bg1.png);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, button, span {
    background-color: green;
    border: #004400 solid;
    border-radius: 5px;
    text-align: center;
    opacity: 1;
}

span {
    padding: 5px;
}

button:hover{
    background-color: #007700;
}

button:active{
    background-color: #005000;
}

#mainBody, footer {
    width: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 5px #004400 solid;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    margin-top: 100px;
    transition: background-color 0.1s;
}

#mainBody:hover, footer:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border: 0px;
    border-top: 5px #004400 solid;
    border-radius: 0px;
}

footer a {
    text-decoration: none;
    color: #004400;
    transition: color 0.5s;
}

footer:hover a:hover {
    color: #00AA00;
}