body {
    background: url(bg1.png);
    text-align: center;
}

h1, button, span {
    background-color: green;
    border: #004400 solid;
    border-radius: 5px;
    text-align: center;
}

span {
    padding: 5px;
}

button:hover{
    background-color: #007700;
}

button:active{
    background-color: #005000;
}